// body {
//     font-family: Roboto, sans-serif;
// }

.main-style {
    display: flex;
}

.main-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
}

.input-quantity {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.test-button {
    width: 160px;
    height: 40px;
    //border: 1px solid black;
    background-color: rgb(135, 195, 222);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.table {
    display: flex;
    width: 90%;
    justify-content: center;
}

.column-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-task {
    padding: 5px;
}

.row-player {
    padding: 5px;
    //border: 1px solid red;
    
}

.row-input {
    width: 30px;
    //border-radius: 5px;
}

.calculate-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio {
    margin-bottom: 10px;
}

.calculate-button {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #5dd4bc;
    background: linear-gradient(147deg,#5dd4bc 20%, #8fe06e 80%);
    background: -webkit-linear-gradient(147deg,#5dd4bc 20%, #8fe06e 80%);
    background: -moz-linear-gradient(147deg,#5dd4bc 20%, #8fe06e 80%);
    cursor: pointer;
}

.difficulty-text {
    margin-bottom: 20px;
}

.difficulty-text-yellow {
    background-color: rgba(235, 235, 57, 0.2) ;
}

.difficulty-text-green {
    background-color: rgba(46, 235, 71, 0.2);
}

.difficulty-text-red {
    background-color: rgba(253, 101, 30, 0.2);
}

.modal {
    position: fixed;
    
    color: #000000;
  
    //background-color: #f8f3f0;
    background: url(../images/scale_1200.webp) center no-repeat;
    //background-position: center;
    //opacity: 0.5;
    
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
 
 .modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-task {
    top: 50%;
    left: 50%;

    display: none;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
    z-index: 2;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-element {
    width: 180px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.modal-item-heading {
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.modal-item {

}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

