.main-style {
    display: flex;
}

.main-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.quantity {
    display: flex;
}

.input-quantity {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
}

.table-wrapper {

}

.table {
    display: flex;
    width: 90%;
    justify-content: center;
}

.task-column {
    display: flex;
    flex-direction: column;
}

.task-name {
    padding: 5px;
}

.task-player {
    padding: 5px;
}