.main-style {
    display: flex;
}

.main-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.input-quantity {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
}

.table-wrapper {

}

.table {
    display: flex;
    width: 90%;
    justify-content: center;
}

.column-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-task {
    padding: 5px;
}

.row-player {
    padding: 5px;
    //border: 1px solid red;
    
}

.row-input {
    width: 30px;
    //border-radius: 5px;
}